* {
  box-sizing: border-box;
  width: 100%;
}
.row { 
  width: 90% !important;
  
}
.map-container {
  height:100vh
}
h1 { 
  font-family: 'Ubuntu Mono', monospace;
  margin: 25px;
  margin-top: 70px;
}
.h1-icon { 
display: inline;
}
#map button,
button:active,
button:hover,
.gmnoprint { 
width: 120px !important;}
#map {
  height: 90vh;
  width: 45vw;
  margin: auto;
  margin-top: 80px;
border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.322);
}

@media screen and (max-width: 600px) {

  .col-md,
  .col-sm,
  .nested-container,
  .markers-list {
    width: 100% !important;
  }

  #map {
    width: 80%;
  }

}

.sidebar-container {
  background-color: #fff;
  height: 70vh;
}

.nested-container {
  background-color: #fff;
  height: 80vh;
  float: right;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
  border: 2px solid rgba(0, 0, 0, 0.192);
}

.markers-ul {
  text-align: left;
}

.text-container {
  margin: 150px 35px;
}

li {
  margin: 5px !important;
  width: 120px;
  display: inline-block !important;
  cursor: default !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  margin-left: 35px;
}

.btn-markerList {
  width: 40px !important;
  height: 40px !important;
  margin-left: 15px;

}

form { 
  width: 300px;

}
.colors { 
  display: flex;
  justify-content: space-around;
}
.form-color { 
  display: inline;
  margin: 0 15px;
  width: 150px;
  height: 30px;
  border: none;
  padding: 0;
}
.modal-body { 
  width: 400px;

}

 button:hover { 
  width: 100% !important;
}