* {
  box-sizing: border-box;
  width: 100%;
}
.map-container { 
  background-color: antiquewhite;
}
#map {
  height: 65vh;
  width: 45vw;
  margin: auto;
  border: 12px solid rgba(0, 0, 0, 0.322);
}


.sidebar-container {
  background-color: lavender;
}

.nested-container { 
  background-color: #fff;
  height: 100%
}
.markers-ul  { 
  text-align: left;
}
li { 
  margin: 5px !important;
  width: 120px;
  display: inline-block !important;
  cursor: default !important;

}

.gali {
  background-color: antiquewhite;
height: 40vh;
}